@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
  	background: #4d4d4d; /* fallback for old browsers */
  	background: -webkit-linear-gradient(right, #4d4d4d, #4d4d4d);
  	background: -moz-linear-gradient(right, #4d4d4d, #4d4d4d);
  	background: -o-linear-gradient(right, #4d4d4d, #4d4d4d);
  	background: linear-gradient(to left, #4d4d4d, #4d4d4d);
  	font-family: "Roboto", sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;      
}


.d-flex {

	padding: 1rem;
}

/* ########################### FORM ########################### */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px; 
  margin-right: 1rem;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-change {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 300px; 
  margin-right: 1rem;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-wallet {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 100%;
  margin-right: 1rem;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-trocar {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 100%;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-troca {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 100%;
  margin-right: 1rem;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-page {
  width: 300px;
  padding: 8% 0 0;
  margin: auto;
}

.create-wallet-page {
  width: 100%;
  margin: auto;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

  .form-wallet input, input[type="number"] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 49%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
 }
 
 input[type="text"] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
 }
 
 
 .form-wallet select, .form-wallet option {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 35%;
  border: 0;
  margin: 0 0 15px;
  padding: 17px;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
 }
 
 .form-wallet button, .form-trocar button  {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4d4d4d;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}


.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4d4d4d;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus,
.form-wallet button:hover,.form-wallet button:active,.form-wallet button:focus,.form-trocar button:hover, .form-trocar button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4d4d4d;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

/* ########################### MENU ########################### */

.menu {
	width: 100%;
	background: #e9eaea;
	font-family: 'Arial';
	 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.menu ul {
	list-style: none;
	position: relative;
	height: 60px;
}

.menu ul li {
	width: 150px;
	height: 60px;
	float: left;
}

.menu a {
	padding: 15px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: ;
	color: #4d4d4d;
}

.menu ul ul {
	position: absolute;
	visibility: hidden;
}

.menu ul li:hover {
	background-color: #43A047;
	color: #FFF;
  	cursor: pointer;
  	border-bottom: 3px solid #4d4d4d;
}

.menu ul li a:hover {

	color: #FFF;
  	cursor: pointer;
}

/* ########################### MODAL ########################### */



/* ########################### MODAL ########################### */

.modal {
	padding: 0 25px !important;
}

.modal-dialog {
	width: 100%;
	max-width: 560px;
	margin: 0 auto;
}

.modal-popup {
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.modal-popup a.close-link {
	font-size: 22px;
	position: absolute;
	top: 20px;
	right: 30px;
	color: #fff;
}

.modal .input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.modal button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4d4d4d;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.modal button:hover,.modal button:active,.modal button:focus {
  background: #43A047;
}

.checkbox {
	
}

.popup-form {
	width: 90%;
	max-width: 375px;
	margin: 60px auto;
}

.popup-form .form-control {
	margin: 20px 0;
}

.popup-form .form-control.dropdown {
	text-align: left;
}

.popup-form .form-control.dropdown:after {
	content: '\f0d7';
	font-family: 'FontAwesome';
	display: inline-block;
	float: right;
	color: white;
}

.popup-form .dropdown .dropdown-menu {
	top: 65px;
	width: 100%;
	padding: 0;
	border: 2px solid white;
	border-top: 0;
	border-radius: 0;
	background: white;
	box-shadow: none;
}

.popup-form .dropdown .dropdown-menu li {
	font-size: 16px;
	width: 100%;
	background: transparent;
}

.popup-form .dropdown .dropdown-menu li a {
	width: 100%;
	padding: 15px 30px;
	color: #00a8ff;
}

.popup-form .dropdown .dropdown-menu li:hover a {
	color: #fff;
	background: #00a8ff;
}

/* ########################### GRID ########################### */

.lateral{
	position: relative;
	width: 100%;
  	z-index: 1;
  	background: #FFFFFF;
	padding: 5px;
  	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.area-button-pagamento{
	position: relative;
	width: 100%;
	height: 50px;
	margin: 2px;
}

.input {
	font-family: "Roboto", sans-serif;
  	outline: 0;
  	background: #f2f2f2;
  	width: 100%;
  	border: 0;
  	margin: 0 0 15px;
  	padding: 15px;
  	box-sizing: border-box;
  	font-size: 14px;
}

.icon-pagamento {
	float: right;
	width: 30px;
	height:30px;
}

.button-pagamento {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4d4d4d;
  width: 100%;
  border: 0;
  padding: 10px;
  margin-top: 5px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.button-pagamento:hover, .button-pagamento:focus{
	background: #43A047;
}

/* ########################### MEDIA QUERY ########################### */

@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }