<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Sistema AUREA - Trocas</title>
	
 	<!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
	
</head>
<body>
	<div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h4>Bem Vindo</h4>
		            <h6>Usuario</h6>
                </div>

                <ul class="list-unstyled components">
                    <p class="text-center">Sistema Aurea</p>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="trocar">Trocas</a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="vender">Vender</a>
                    </li>
                    <li>
                        <a href="vender">Comprar</a>
                    </li>
                </ul>

                <ul class="list-unstyled components">
                    <p class="text-center">Social</p>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>

                        <div class="navbar-header">
                            <ul class="nav navbar- justify-content-end">
                               <li><i class="fas fa-bell fa-2x"></i></li>
                                <div class="line-nav"></div>
                                <li><i class="fas fa-comments fa-2x"></i></li>
                                <div class="line-nav"></div>
                                <li><i class="fas fa-power-off fa-2x"></i></li>
                            </ul>
                        </div>
                    </div>
                </nav>	
		
				<section>
					<div class="card-deck">
	  			        <div class="card">
	    				    <div class="card-body">
	                            <h5 class="card-title text-center">Enviar</h5>
	                            <div class="line"></div>
	                            
	                            <button name="enviarAdvcash" type="submit" class="btn btn-primary btn-lg btn-block" data-ecurr="advcash" data-curr="USD" onclick="liberar(advcash);">
                           			<span class="checked-icon"></span>
                           			<img class="icon-pagamento" src="img/advcash.png" height="30px" width="30px">
                           			<span class="ex-option-right">pagamento</span>
                       			</button>
                       			
                       			<button name="enviarBitcoin" type="button" class="btn btn-primary btn-lg btn-block">
                           			<span class="checked-icon"></span>
                           			<img class="icon-pagamento" src="img/payeer.png" height="30px" width="30px">
                           			<span class="ex-option-right">pagamento</span>
                       			</button>
	                            
	      					   	<button name="enviarBitcoin" type="button" class="btn btn-primary btn-lg btn-block">
                           			<span class="checked-icon"></span>
                           			<img class="icon-pagamento" src="img/bitcoin.png" height="30px" width="30px">
                           			<span class="ex-option-right">pagamento</span>
                       			</button>	
                       			
                       			<button name="enviarLitcoin" type="button" class="btn btn-primary btn-lg btn-block">
                           			<span class="checked-icon"></span>
                           			<img class="icon-pagamento" src="img/litecoin.png" height="30px" width="30px">
                           			<span class="ex-option-right">pagamento</span>
                       			</button>
                       			
                       			<button name="enviarDogecoin" type="button" class="btn btn-primary btn-lg btn-block">
                           			<span class="checked-icon"></span>
                           			<img class="icon-pagamento" src="img/dogecoin.png" height="30px" width="30px">
                           			<span class="ex-option-right">pagamento</span>
                       			</button>	
                       			<button name="enviarEthereum" type="button" class="btn btn-primary btn-lg btn-block">
                           			<span class="checked-icon"></span>
                           			<img class="icon-pagamento" src="img/ethereum.png" height="30px" width="30px">
                           			<span class="ex-option-right">pagamento</span>
                       			</button>	
                       				
	    				    </div>
	                    </div>
	                    
	  			        <div class="card">
	    				    <div class="card-body">
	                            <h5 class="card-title text-center">Dados</h5>
	                            <div class="line"></div>
	      					    <form  class="form-group">
	      					    	<label for="exampleFormControlSelect2">Example multiple select</label>
									<input class="form-control" 		type="number" 	id="quantidadeBTC"  	name="quantidadeBTC" 	placeholder="0.000000" >
									<input class="form-control" 		type="number" 	id="quantidadeREAL" 	name="quantidadeREAL" 	placeholder="R$ 0.00" />
									<input class="form-control" 		type="text" 	id="emailorwallet"    	name="emailorwallet" 	placeholder="" />
									<input class="form-control" 		type="text" 	id="email"    			name="email" 			placeholder="" />
					
									<button type="submit" class="btn btn-primary btn-lg btn-block">Realizar Troca</button>
								</form>
	    				    </div>
	  			        </div>
	  			        <div class="card">
	    				    <div class="card-body">
	                      
	                            <h5 class="card-title text-center">Receber</h5>
	                            <div class="line"></div>
	                            
	                             <button name="enviarBitcoin" type="button" class="btn btn-primary btn-lg btn-block">
                           			<span class="checked-icon"></span>
                           			<img class="icon-pagamento" src="img/advcash.png" height="30px" width="30px">
                           			<span class="ex-option-right">pagamento</span>
                       			</button>
                       			
                       			<button name="enviarBitcoin" type="button" class="btn btn-primary btn-lg btn-block">
                           			<span class="checked-icon"></span>
                           			<img class="icon-pagamento" src="img/payeer.png" height="30px" width="30px">
                           			<span class="ex-option-right">pagamento</span>
                       			</button>
	                            
	      					   <button name="enviarBitcoin" type="button" class="btn btn-primary btn-lg btn-block">
                           			<span class="checked-icon"></span>
                           			<img class="icon-pagamento" src="img/bitcoin.png" height="30px" width="30px">
                           			<span class="ex-option-right">pagamento</span>
                       			</button>	
                       			
                       			<button name="enviarLitcoin" type="button" class="btn btn-primary btn-lg btn-block">
                           			<span class="checked-icon"></span>
                           			<img class="icon-pagamento" src="img/litecoin.png" height="30px" width="30px">
                           			<span class="ex-option-right">pagamento</span>
                       			</button>
                       			
                       			<button name="enviarDogecoin" type="button" class="btn btn-primary btn-lg btn-block">
                           			<span class="checked-icon"></span>
                           			<img class="icon-pagamento" src="img/dogecoin.png" height="30px" width="30px">
                           			<span class="ex-option-right">pagamento</span>
                       			</button>	
                       			<button name="enviarEthereum" type="button" class="btn btn-primary btn-lg btn-block">
                           			<span class="checked-icon"></span>
                           			<img class="icon-pagamento" src="img/ethereum.png" height="30px" width="30px">
                           			<span class="ex-option-right">pagamento</span>
                       			</button>	
	   				        </div>
	  			        </div>
	
	                </div>        
				</section>
		        
            </div>
		</div>
        <!-- jQuery CDN -->
        <!-- Bootstrap Js CDN -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<script src="js/painel.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                    $(this).toggleClass('active');
                });
            });
        </script>

</body>
</html>